# Supabase Configuration
VITE_SUPABASE_URL=https://hsirebxcnxdzilvdkdvs.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhzaXJlYnhjbnhkemlsdmRrZHZzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1NDA4NTAsImV4cCI6MjA5MTExNjg1MH0.16vkCbrYndBzDtwzSYjhIIiGG2jSWxDD7YlahfjEPY4

# Master Admin Access Key
VITE_MASTER_ADMIN_SECRET=dmitechnologies_master_2026
